/*
 * Base structure
 */

.section>h2 {
    border-bottom: 2px solid #4b7598;
    padding-bottom: 2px;
}

@media (min-width: 768px) {
    .section > h3 {

        /*border-left: 10px solid #f0ad4e;*/
        padding-left: 15px;
        padding-bottom: 2px;
    }

    .section>ul {
        line-height: 2;
    }

}

.section>ul {
    padding-left: 30px;
}

.section>ul.flush {
    padding-left: 0px;
}

.cloud {

}

.cloud h5 {
    color: #999;
}

@media (max-width: 768px) {

    .table-responsive {
        border: none;
        margin-left: -5px;
    }

    .section>ul {
        list-style: none;
    }

    .section>ul {
        padding-left: 0px;
    }

    .section>ul>li {
        margin-bottom: 10px;

    }
}

.section>img {
    margin-bottom: 20px;
}



video {
    width: 1024;

}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

@media (min-width: 768px) {
    li.shortnav {
        display: none;
    }

    .mobile-only {
        display: none;
    }
}


/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: left;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}





/*
 The animate class is apart of the element and the ng-enter class
 is attached to the element once the enter animation event is triggered
*/
.reveal-animation.ng-enter {
    -webkit-transition: 1s linear all; /* Safari/Chrome */
    transition: 1s linear all; /* All other modern browsers and IE10+ */

    /* The animation preparation code */
    opacity: 0;
}

/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.reveal-animation.ng-enter.ng-enter-active {
    /* The animation code itself */
    opacity: 1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0.001;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}


@media all and (orientation: landscape) {
    .img-portrait {
        display : none;
    }
}

@media all and (orientation: portrait) {
    .img-landscape {
        display: none;
    }
}

