<div class="section">

    <h2>3D Modelling</h2>

    <div class="row">
        <div ng-repeat="piece in ThreeDeeArtwork" class="col-xs-6 col-sm-4" magnific-images>
            <a href="{{piece.src}}" title="{{piece.title}}" data-Source="{{piece.png}}">
                <img ng-src="{{piece.poster}}" width="240" />
            </a>
            <h5>{{piece.title}}</h5>
        </div>
    </div>

    <!--<div id="unitlabx" magnific-images>-->
        <!--<a ng-repeat="piece in ThreeDeeArtwork" href="{{piece.src}}" title="{{piece.title}}" data-Source="{{piece.png}}">-->
            <!--<img ng-src="{{piece.poster}}" width="240" />-->
        <!--</a>-->
    <!--</div>-->

    <h2>2D Art for Platform Game</h2>
    <div id="dalekinvasion" magnific-images>
        <a href="images/portfolio/2d/Background.png" title="Background art for platform game">
            <img src="images/portfolio/2d/Background.png" width="{{1280/4}}" />
        </a>

        <a href="images/portfolio/2d/Dalek.png" title="Dalek for platform game">
            <img src="images/portfolio/2d/Dalek.png" width="{{256/2}}" />
        </a>

        <a href="images/portfolio/2d/Tileset.png" title="Tileset for platform game">
            <img src="images/portfolio/2d/Tileset.png" width="192"/>
        </a>
    </div>


</div>



