<div class="section">

    <h2>Fixtures &amp; Scores</h2>

    <p>
        Fixtures &amp; Scores is an <a href="https://angularjs.org/" target="_blank">Angular.js</a> directive to implement a display of upcoming fixtures and recent results, for a sports team.
    </p>

    <p>
        The directive retrieves JSON formatted data, and displays two tables; one for upcoming fixtures, one for results. An Excel spreadsheet provides a front end, allowing users to enter their upcoming match
        fixtures and recent scores. When saved, the Excel sheet saves a copy of the data in JSON format.
        This can be saved into Dropbox, and retrieved by the directive.
    </p>

    <p>
        <code>
            &lt;fixtures src="https://your_url_here/fixtures.json?callback=JSON_CALLBACK" /&gt;
        </code>
    </p>


    <ul class="list-unstyled">
        <li>See Fixtures &amp; Scores <a href="http://www.eadestowngaa.ie" target="_blank">in use here</a></li>
        <li><a href="https://github.com/jeffeld/RITS-Fixtures" target="_blank">View code on Github</a></li>
    </ul>

    <!-- **************************************************************************************************** -->

    <h2>School Book Store</h2>

    <p>
        A prototype for a school to implement a web based book store, allowing parents to buy their childrens' books for the year.
        The books are displayed by class, along with guidance as to what books can be reused, what may be available second hand and
        allow the buyer to specify whether or not they would like the books covered.
    </p>
    <p>
        The server side is <a href="http://nodejs.org/" target="_blank">Node.js</a> based using
        <a href="http://expressjs.com/" target="_blank">Express</a> middleware and
        <a href="http://jade-lang.com/" target="_blank">Jade</a> templates, with an
        <a href="https://angularjs.org/" target="_blank">Angular.js</a> client front end.
    </p>

    <ul class="list-unstyled">
        <li><a href="https://github.com/jeffeld/RITS-BookStore" target="_blank">View code on Github</a></li>
    </ul>

</div>

