<div id="Top" class="row placeholders">

    <div ng-show="History.length === 0">
        <img src="images/loader.gif" />
    </div>

    <div ng-show="History.length > 0">
        <div ng-repeat="job in History" class="col-xs-12 col-sm-12 placeholder section">

            <h2>{{job.where}}
                <br class="mobile-only" />
                <small>
                    {{job.start | date :'MMM yyyy'}} -
                    <span ng-show="job.end===''">present</span>
                    <span ng-show="job.end!=''">{{job.end | date :'MMM yyyy'}}</span>
                    <!--<span ng-show="$index >= ShowLast" style="font-size: xx-small">(see more)</span>-->
                </small>
            </h2>
            <div ng-repeat="pos in job.positions" class="section">
                <h3>
                    {{pos.title}}&nbsp;
                    <small ng-show="job.positions.length > 1">
                        {{pos.start | date :'MMM yyyy'}} -
                        <span ng-show="pos.end===''">present</span>
                        <span ng-show="pos.end!=''">{{pos.end | date :'MMM yyyy'}}</span>
                    </small>
                    <small>
                        <span ng-switch="pos.type">
                            <span ng-switch-when="p">(Permanent)</span>
                            <span ng-switch-when="c">(Contract)</span>
                        </span>
                    </small>
                </h3>
                <ul ng-show="$index < ShowLast">
                    <li ng-show="desc !== ''" ng-repeat="desc in pos.desc track by $index" ng-bind-html="desc"></li>
                </ul>


            </div>

            <div ng-show="$index < ShowLast">

                <div class="col-xs-6 col-sm-4 placeholder">
                    <h5>Skills</h5>
                    <ul class="list-inline list-unstyled text-warning">
                        <li ng-repeat="skill in job.skills">{{skill}}</li>
                    </ul>
                </div>

                <div class="col-xs-6 col-sm-4 placeholder">
                    <div ng-show="job.business.length > 0">
                        <h5>Business</h5>
                        <ul class="list-inline list-unstyled text-warning">
                            <li ng-repeat="business in job.business track by $index">{{business}}</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>


    </div>



</div>

<!--<a ng-show="SeeingAll() === false" ng-click="onSeeAll()">See all...</a>-->
<!--<p class="text-center"><a href="/employment">Back to top</a></p>-->

