<div class="row">
    <div class="section">
    <table class="table table-responsive table-condensed" >
        <tr>
            <td>Age</td>
            <td>{{Age}}</td>
        </tr>
        <tr>
            <td>Nationality</td>
            <td>British</td>
        </tr>
        <tr>
            <td>Marital Status</td>
            <td>Married, 4 children</td>
        </tr>
        <tr>
            <td>Driving Licence</td>
            <td>Full Irish (Clean)</td>
        </tr>
    </table>

    <ul>
        <li>Inventor of <a href='http://patent.ipexl.com/EP/1669920-a1.html' target='_blank'>EPO Patent 1669920-A1 Information management systems with time zone information, including event scheduling processes</a></li>
        <li>Accomplished C++ and C# developer with {{Experience}} years experience on the Microsoft Windows platform</li>
        <li>Additional skills including .NET Framework, ASP.NET, SQL Server, XML, Visual Basic, Javascript, Perl</li>
        <li>Microsoft certified in Secure Development Best Practice</li>
        <li>Expertise in GUI design and implementation, rich client applications and scalable server components</li>
        <li>Well versed in debugging complex issues using Visual Studio, WinDBG, and KDB</li>
        <li>Enthusiastic proponent of UML to achieve quality architecture and design</li>
        <li>Adept at refactoring code for re-usability and ease of maintenance</li>
        <li>Highly motivated and committed team player who thrives in unfamiliar terrain</li>
        <li>Innovative problem solver able to articulate solutions in clear and concise specifications</li>
        <li>Tactful negotiator able to understand and resolve sensitive issues between disciplines</li>
        <li>Capable mentor and trainer</li>
    </ul>
</div>
</div>