<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Achievements</h4>
        <ul>
            <li>Inventor of <a href='http://patent.ipexl.com/EP/1669920-a1.html' target='_blank'>EPO Patent 1669920-A1 Information management systems with time zone information, including event scheduling processes</a></li>
            <li>Elected to Piper's Hill College Board of Management, 2015</li>
            <li>Elected to Rathmore National School Board of Management, 2011</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Skills</h4>
        <ul>
            <li>Maturing Javascript coder with experience of Node.js and Angular.js</li>
            <li>Accomplished C++ and C# developer with {{Experience}} years experience on the Microsoft Windows platform</li>
            <li>Additional skills including .NET Framework, ASP.NET, SQL Server, XML, Visual Basic, Javascript, Perl</li>
            <li>Microsoft certified in Secure Development Best Practice</li>
            <li>Expertise in GUI design and implementation, rich client applications and scalable server components</li>
            <li>Well versed in debugging complex issues using Visual Studio, WinDBG, and KDB</li>
            <li>Enthusiastic proponent of UML to achieve quality architecture and design</li>
            <li>Adept at refactoring code for re-usability and ease of maintenance</li>
            <li>Highly motivated and committed team player who thrives in unfamiliar terrain</li>
            <li>Innovative problem solver able to articulate solutions in clear and concise specifications</li>
            <li>Tactful negotiator able to understand and resolve sensitive issues between disciplines</li>
            <li>Capable mentor and trainer</li>
        </ul>
    </div>
</div>
